extends layout.pug

block content
  form(method="post" action="/login")
    span 用户名:
    input(type="text" name="name" required)
    br
    span 密码：
    input(type="text" name="password" required)
    br
    span 验证码：
    input(type="text" name="captcha" required)
    br
    img(id='captcha' src='/captcha')
    br
    button 登陆
  form(method="get" action="/register")
    button 注册
  a(href="/forget") 忘记密码

  script.
    captcha.addEventListener('click', () => {
      window.location.href = '/'
    })