extends layout.pug

block content
  div 
    span 用户名或密码错误,
    span(id="countDown") 3
    span 秒钟后回跳转至首页，如果没有跳转请
    a(href="/") 点击跳转

  script.
    setTimeout(() => {
      location.href = './'
    },3000)
    var cd = 3
    setInterval(() => {
      countDown.textContent = --cd
    },1000)
      